<footer class="block">
    <div class="explanation">
        <h3>Hoe werkt ishetkutweer?</h3>
        <p>Ishetkutweer vergelijkt huidige, historische en toekomstige weergegevens, afkomstig van <a target="_blank" href="http://www.buienradar.nl">Buienradar.nl</a> en <a target="_blank" href="http://www.forecast.io">Forecast.io</a>, op temperatuur, regenval en windkracht. Aan de hand daarvan wordt berekend of dit kut, redelijk of niet kut is.</p>
    </div>
    <div class="social-media">
        <p>Heb je vragen, opmerkingen, haatberichten of suggesties? Neem dan contact op via een van de onderstaande kanalen.</p>
        <a class="facebook" target="_blank" href="https://www.facebook.com/ishetkutweer">
            <i class="fa fa-facebook"></i>
            <p>Facebook</p>
        </a>
        <a class="twitter" target="_blank" href="https://twitter.com/ishetkutweer">
            <i class="fa fa-twitter"></i>
            <p>Twitter</p>
        </a>
        <a class="e-mail" target="_blank" href="mailto:info@ishetkutweer.nl">
            <i class="fa fa-envelope"></i>
            <p>E-mail</p>
        </a>
    </div>
</footer>