/** Colors **/
$green: #259b24;
$yellow: #ffb130;
$red: #e51c23;
$gray-dark: #3e3e3e;
$gray: #d7d7d7;
$gray-light: #e4e2e2;
$primary-blue: #337ab7;
$primary-dark-blue: #286090;
$facebook-blue: #3b5998;
$twitter-blue: #4099ff;
$email-orange: #f2bd00;

/** Font sizes**/
$fontsize-huge: 105px;
$fontsize-large: 90px;
$fontsize-medium: 65px;
$fontsize-small: 50px;
$fontsize-tiny: 30px;

/** Relative font sizes**/
$weatherValue: 7/10;
$weatherIcon: 5/10;
$weatherSuffix: 2/10;

/** Breakpoints **/
$screensize-huge: 1600px;
$screensize-medium: 1200px;
$screensize-small: 800px;
$screensize-tiny: 0px;

/** Header size **/
$header-small: 300px;
$header-huge: 500px;