body {
  font-family: 'Montserrat', sans-serif;
  min-width: 600px;
}
.block {
  padding-top: 60px;
  padding-bottom: 60px;
}

/** Responsive styles **/
@media (min-width: $screensize-tiny) {
  .block {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (min-width: $screensize-small) {
  .block {
    padding-left: 15%;
    padding-right: 15%;
  }
}
@media (min-width: $screensize-medium) {
  .block {
    padding-left: 20%;
    padding-right: 20%;
  }
}
@media (min-width: $screensize-huge) {

}